.formulario {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 50px;
}

.formulario form {
  width: 80%;
  background-color: #f2f2f2;
  flex: 1;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.08);
}

.formulario form h2 {
  font-weight: 400;
  font-size: 32px;
}